<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/styles.css" />
  <title>TO DO LIST with RESTful API</title>
  <script src="https://kit.fontawesome.com/a90e29b6f0.js" crossorigin="anonymous"></script>

</head>

<body>
 <main></main>
 